/Daniil/3.4/2023-11-03 14.24.48.mp4
/Daniil/3.5/answer.txt
/Daniil/3.5/data.json
/Daniil/3.5/eq.txt
/Daniil/3.5/even.txt
/Daniil/3.5/even_file.txt
/Daniil/3.5/first.txt
/.idea/misc.xml
/.idea/modules.xml
/Daniil/3.5/numbers.txt
/Daniil/3.5/odd.txt
/Daniil/3.5/private.txt
/.idea/inspectionProfiles/profiles_settings.xml
/Daniil/3.5/public.txt
/.idea/Python_handbook2023.iml
/Daniil/3.6/result.json
/Daniil/3.5/sample01_10c35fbe0c.num
/Daniil/3.5/scoring.json
/Daniil/3.5/second.txt
/Daniil/3.5/secret.txt
/Daniil/3.5/sm.txt
/Daniil/3.5/statistics.json
/Daniil/3.5/updates.json
/Daniil/3.5/users.json
/.idea/vcs.xml
/.idea/workspace.xml
