.gitattributes
Daniil/test.py
.gitignore
Daniil/.idea/workspace.xml
Daniil/.idea/inspectionProfiles/profiles_settings.xml
.gitignore
Daniil/.DS_Store
.gitignore
.DS_Store
Daniil/.idea/misc.xml
Daniil/.DS_Store
.gitignore
Daniil/.idea/vcs.xml
Daniil/.DS_Store
Daniil/.DS_Store
Daniil/.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.gitignore
.idea/modules.xml
.gitignore
